.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* full layar */
}

.spinner {
  border: 8px solid #f3f3f3; /* warna latar */
  border-top: 8px solid #3498db; /* warna spinner */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

p {
  font-family: Arial, sans-serif;
  color: #555;
}
